.top-title {
    color: white;
    font-family: 'Playball', cursive;
    font-size: 108px;
    font-weight: 400;
    margin-top: -22%;
}

li{
  word-spacing: 0px !important;
  color: maroon !important;
  float: left;
  font-size: 20px;
}

#gs{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
}

#gs1{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
  color: white;

}


#p1{
  font-size: 15px;
  float: left;
}

.clearfix{
  margin-left: 8%;
}

#filter-list li {
    font-family: cursive;
    font-size: 54px;
    text-decoration: underline;
    margin-left: 20%;
}
.beer.background_content {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: 70% 50%;
}

#bg {
    margin-left: 3%;
    font-family: cursive;
    text-decoration: underline;
    font-size: 68px;
}
#en{
  font-family:  cursive;
  font-size: 54px;
  text-decoration: underline;
      margin-left: -23%;
}

button.mainMenuButton {
    color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 7px;
    width: 51%;
    height: 26%;
    margin-bottom: 1%;
}

button#d12 {
  position: relative;
  left: 53%;
  top: -32px;
}

div.tooltip {
    position: absolute;
    top: 25.5%;
    left: -26%;
    border-radius: 10px;
    width: 50%;
    border: 1px solid gray;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-family: "museo-sans", helvetica, sans-serif;
    background-color: black;
}
table.innerTable tr {
    vertical-align: top;
}
table.innerTable td {
    padding: 1px;
    padding-top: 5px;
}
div.tooltip p {
    color: white;
}
p.title {
    font-weight: bold;
    font-size: 12px;
}
p.subtitle {
    font-weight: normal;
    font-size: 11px;
    margin-top: 5px;
}
