.top-title {
    color: white;
    font-family: 'Playball', cursive;
    font-size: 108px;
    font-weight: 400;
    margin-top: -22%;
}

li{
  word-spacing: 0px !important;
  color: maroon !important;
  float: left;
  font-size: 20px;
}

#gs{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
}

#p1{
  font-size: 15px;
  float: left;
}

.clearfix{
  margin-left: 8%;
}

#filter-list li {
    font-family: cursive;
    font-size: 39px;
    text-decoration: underline;
    margin-left: 0%;
}
