.top-title {
    color: white;
    font-family: 'Playball', cursive;
    font-size: 108px;
    font-weight: 400;
    margin-top: -22%;
}

li{
  word-spacing: 0px !important;
  color: maroon !important;
  float: left;
  font-size: 20px;
}

#gs{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
}

#gs1{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
  color: white;
}


#p1{
  font-size: 15px;
  float: left;
}

.clearfix{
  margin-left: 8%;
}

#filter-list li {
    font-family: cursive;
    font-size: 54px;
    text-decoration: underline;
    margin-left: 20%;
}
.beer.background_content {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
    background-position: 70% 50%;
}

#bg {
    margin-left: 3%;
    font-family: cursive;
    text-decoration: underline;
    font-size: 68px;
}
#en{
  font-family:  cursive;
  font-size: 54px;
  text-decoration: underline;
      margin-left: -23%;
}

#d1{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d2{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d3{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d4{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d5{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d6{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d7{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
#d8{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}

#d9{
  color: maroon;
    font-weight: bold;
    font-size: 100%;
    border-radius: 12px;
    width: 51%;
    height: 21%;
}
