.top-title {
    color: white;
    font-family: 'Playball', cursive;
    font-size: 108px;
    font-weight: 400;
    margin-top: -22%;
}

li{
  word-spacing: 0px !important;
  color: maroon !important;
  float: left;
  font-size: 20px;
}

#gs{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: -3%;
}
